<div>
  <input (click)='increment()'
         type="button"
         class="btn btn-primary btn-sm"
         value="+">
  <span>{{ count$ | async }}</span>
  <input (click)='decrement()'
         type="button"
         [disabled]="decrementDisabled$ | async"
         class="btn btn-primary btn-sm"
         value="-">
</div>

<div>
  <input (click)='reset()'
         type="button"
         [disabled]="resetDisabled$ | async"
         class="btn btn-primary"
         value="reset">
</div>

<div>
  <input type="button"
         (click)="setCountBy(1)"
         [disabled]="(countingBy$ | async) === 1"
         class="btn btn-primary btn-sm"
         value="Count By 1">
  <input type="button"
         (click)="setCountBy(3)"
         [disabled]="(countingBy$ | async) === 3"
         class="btn btn-primary btn-sm"
         value="Count By 3">
  <input type="button"
         (click)="setCountBy(5)"
         [disabled]="(countingBy$ | async) === 5"
         class="btn btn-primary btn-sm"
         value="Count By 5">
</div>
