<div class="form-group">
  <label>Title</label>
  <input required
         class="form-control"
         [(ngModel)]="title.text"
         #validateTitle="ngModel"
         #title>
  <label>Author</label>
  <input required
         class="form-control"
         [(ngModel)]="author.text"
         #validateAuthor="ngModel"
         #author>
  <label>Format</label>
  <select class="form-control"
          #format>
    <option>Paperback</option>
    <option>Hardcover</option>
    <option>E-Book</option>
  </select>
  <input type="button"
         [disabled]="validateTitle.invalid || validateAuthor.invalid"
         class="btn btn-primary"
         (click)="add(title, author, format)"
         value="Add">
  <div class="alert alert-danger"
       *ngIf="validateTitle.invalid">A title is required</div>
  <div class="alert alert-danger"
       *ngIf="validateAuthor.invalid">An author is required</div>
</div>
